# Data Science Tools and Ecosystem

In this notebook,Data Science Tools and Ecosystem are summerized.

**Objectives:**
* List Popular Languages
* List commonly used Libraries
* Open Source development environment tools
* Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Java 
5. C++

Some of the commonly used libraries used by Data Scientist include:
1. NumPy
2. Tensorflow
3. Pandas
4. PyTorch
5. Matplotlib

|Data Science Tools|
|------------------|
|VS Code|
|JupyterLab|
|Google Colaboratory|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60.
200/6

33.333333333333336

## Author
Jessica Gunnell